#profilBody {
    text-align: center;
    background-color: #FFE680;
    margin-bottom: 100px;
}

#accordion {
    background-color: #FFCD00;

}

.accordJudul {
    background: #FFCD00;
    color: white;
    font-weight: bold;
}

.accordIsi {
    background: yellow;
}

.theBody {
    display: none;
}

.loadingGif {
    display: ;
}

.fotprof {
    position: absolute;
    width: 400px;
    height: auto;
    bottom: 0;
    right: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;

}

.nama {

    padding-top: 8%;

}

.badge {
    background-color: #FFCD00;
}

.halaman {
    height: 100vh;

}

/*kontak.css*/
.kembali {
    float: left;
}

.kontaksy {

    padding-top: 68px;

}

body {
    /*text-align: center;*/
    background-color: #FFE680;
    margin-bottom: 400px;
}

.telp {
}

/*end of kontak.css*/

/*register.css*/
/*body {*/
/*background-color: #FFE680;*/
/*margin-bottom: 100px;*/
/*text-align: left;*/

/*}*/

.form-group {
    border-radius: 25px;
    width: 300px;
    background-color: powderblue;
    padding: 3%;
}

.isian {
    margin-top: 20px;
    margin-left: 40px;
    width: 400px;
}

@media (max-width: 568px) {

    .form-group {
        border-radius: 25px;
        width: 250px;
        background-color: powderblue;
        padding: 3%;

    }

}

/*button {*/

/*margin-top: 20px;*/

/*}*/

.btn-warning {
    color: white;
    font-size: larger;

}

/*end of register.css*/