<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>

    <script
            src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous"></script>
    {% block css %}

    {% endblock %}

    <script src="{% static 'landing/js/javas.js' %}"></script>

    <meta charset="UTF-8">
    <title>Saya Kevin</title>

    <style>
        .navbar-expand-lg {
            background-color: orange;
        }

    </style>

    {% block head %}
    {% endblock %}


</head>
<body>
{#<img src="https://loading.io/spinners/typing/lg.-text-entering-comment-loader.gif" class="loadingGif">#}

<script>
    setTimeout(function () {
        $('.theBody').css('display', 'block');
    }, 0);

    setTimeout(function () {
        $('.loadingGif').css('display', 'none');
    }, 0);


</script>

<div class="theBody">

    <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="/">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">

                <a class="nav-item nav-link active" href="/leavestatus">Leave Status</a>
                <a class="nav-item nav-link active" href="/subscribe">Subscribe</a>

                <!--
                <a class="nav-item nav-link active" href="/register">Register</a>
                <a class="nav-item nav-link active" href="/kontak">Kontak</a>
                <a class="nav-item nav-link active" href="/jadwal">Jadwal</a>
                -->
            </div>
        </div>
    </nav>



    {% block body %}
    {% endblock %}
</div>
</body>
</html>