<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kevin</title>

    <style>
        #submit {
            width: 100px;
        }

        body {
            background-color: #FFFFFF;
        }

        h1 {
            color: black;
        }


    </style>



</head>
<body name="body">

<h1 name="judul">Hello, Apa kabar?</h1>
<h3><a href="/profil">See my profile </a></h3>

<section name="form">
    <form id="form" method="POST" action="/leavestatus/addstatus/">
        {% csrf_token %}
        {{ form }}
        <button type="submit" id="submit">Submit</button>
    </form>

    {% for item in all %}
        <ul>
        <li><h4>{{ item.status }}</h4> time : {{ item.time }}</li>

        </ul>
    {% endfor %}

</section>

</body>
</html>