{% extends 'base.html' %}
{% load static %}

<!doctype html>
<html lang="en">

{% block css %}

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.12.4.js"></script>
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/css/select2.min.css" rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/js/select2.min.js"></script>

    <link rel="stylesheet" href="{% static '/landing/css/style.css' %}">
{% endblock %}





{% block body %}
    <body id="profilBody">



    <div class="container-fluid">
        <button class="btn btn-warning" id="buttonTheme">Theme : aKtIf, EnErGiK, cErIa</button>

        <!--Halaman Foto-->
        <div class="halaman">

            <h1 class="nama">Halo, Saya <br>Kevin Raikhan Zain</h1>
            <img src="https://drive.google.com/uc?id=19jrm9fZDHBf0YnDqGUkdsoX-fMQoBcgT" class="img-fluid fotprof">

        </div>


    </div>


    <div class="row">

        <!--Tentang Saya-->

        <div class="col">

            <h1><span class="badge badge-secondary">Tentang Saya</span></h1>
            <p>Halo, saya Kevin Raikhan Zain.<br> Umur saya 19 tahun.<br> Hobi saya main game sama nonton film</p>


        </div>

        <!--Kolom 2 dan 3 Kosong-->
        <div class="col"></div>
        <div class="col"></div>

    </div>


    <div class="row">

        <!--Kolom 1 dan 2 Kosong-->
        <div class="col"></div>
        <div class="col"></div>

        <div class="col">
            <h1><span class="badge badge-secondary">Pendidikan</span></h1>
            <p>Universitas Indonesia <br>Fakultas Ilmu Komputer</p>
        </div>


    </div>

    <h1><span class="badge badge-secondary">Yang Pernah Saya<br> Lakukan</span></h1>

    <div class="row">

        <!-- Google -->
        <div class="col">
            <img src="https://2.bp.blogspot.com/-7bZ5EziliZQ/VynIS9F7OAI/AAAAAAAASQ0/BJFntXCAntstZe6hQuo5KTrhi5Dyz9yHgCK4B/w800-h800/googlelogo_color_200x200.png">
            <h3>Founder Google</h3>
        </div>

        <!--Steam-->
        <div class="col">
            <img src="https://i2.wp.com/www.chriswrites.com/wp-content/uploads/steam.png?fit=200%2C200">
            <h3>Founder Steam</h3>
        </div>

    </div>

    <div class="row">
        <div class="col">
        </div>

        <div class="col">
            <div id="accordion">
                <h3 class="accordJudul">Aktivitas Saat Ini</h3>
                <div class="accordIsi">
                    Nugas, Tidur, Nugas, Game
                </div>

                <h3 class="accordJudul">Pengalaman Organisasi/Kepanitiaan</h3>
                <div class="accordIsi">
                    Kupu - Kupu
                </div>

                <h3 class="accordJudul">Prestasi</h3>
                <div class="accordIsi">
                    he..
                </div>

            </div>


        </div>

        <div class="col">
        </div>


    </div>


    <br>


    </body>
{% endblock %}


</html>