{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Subscribe</title>

    {% block css %}
        <link rel="stylesheet" href="{% static '/landing/css/style.css' %}">
    {% endblock %}


</head>
<body>



{% block body %}

    <section name="form">
        <div class="isian">
            <form id="form" method="POST" action="/subscribe/sub/">
                {% csrf_token %}
                {{ form }}
            </form>
            <br>
            <button type="button" id="masukAjax" class="btn btn-primary" disabled>Submit</button>
        </div>

    </section>

{% endblock %}
</body>
</html>